  <div class="container">
    <div class="row " style="margin-top: 50px">
      <div class="col-xs-12 col-sm-12 col-md-12">

        <div class="row text-center" style="padding: 30px; ">
          <h3><a href="http://www.vikingcodeschool.com/" class="gitlink"><img  src="http://s3.amazonaws.com/viking_education/logos/logo_ship_90.png">Coded by VikingCodeSchool students 2015</a></h3>
        </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a href="https://twitter.com/DavidMe93" style="text-decoration: none">
                  <div class="thumbnail">
                    
                    <img class="contributorImage" src="https://pbs.twimg.com/profile_images/489607072586424321/QqZl9wXx_400x400.jpeg" alt="#">
                    <div class="caption text-center">
                      <h3>David Meza</h3>
                      <p >Front-end, AngularJS, Bootstrap, Bower, Deploy</p>
                      <p>Pikeville, NC</p>
                    </div>
                  </div>

                </a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <a href="https://twitter.com/olgaayva" style="text-decoration: none">
                  <div class="thumbnail">
                    
                    <img class="contributorImage" src="https://pbs.twimg.com/profile_images/1350274691/image_400x400.jpg" alt="#">
                    <div class="caption text-center">
                      <h3>Olga Ayvazyan</h3>
                      <p>Front-end, AngularJS, Restangular, Grammarly API, Twitter API</p>
                      <p>San-Francisco, CA</p>
                    </div>
                  </div>

                </a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <a href="https://twitter.com/sick_narlo" style="text-decoration: none">
                  <div class="thumbnail">
                    
                    <img class="contributorImage" src="https://pbs.twimg.com/profile_images/634898499318902784/R0i4qDm1_400x400.png" alt="#">
                    <div class="caption text-center">
                      <h3>Nick Sarlo</h3>
                      <p >Back-end, Scrapper, Delayed Jobs, Postgres</p>
                      <p>Austin, TX</p>

                    </div>
                  </div>

                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a href="https://twitter.com/don_kelsey" style="text-decoration: none">
                  <div class="thumbnail">
                    
                    <img class="contributorImage" src="https://pbs.twimg.com/profile_images/627304523761979392/cJbFrHgk_400x400.jpg" alt="#">
                    <div class="caption text-center">
                      <h3>Donald Kelsey</h3>
                      <p>Back-end, Scrapper, Delayed Jobs, 
                        Refactoring</p>
                      <p>Naperville, IL</p>

                    </div>
                  </div>

                </a>
            </div>

          </div>
              <div class="row text-center" style="padding: 50px">
              <h4><a href="https://github.com/ayva/BlogAnalyzer" class="gitlink"><img  src="images/git.png">You are welcome to contribute</a></h4>
            </div>

      </div>
    </div>
  </div>

<div ng-include = "'/templates/partials/footer'" class="footer-fix">Footer here</div>