<section>

  <div class="container">

    <div class='row'>
      <div class="col-sm-5 col-sm-offset-1 text-center">
        <h2 class="heading"><b>What is Grandma?</b></h2>
      </div>
      <div class="col-sm-6 text-center">
        <h3>One time check for your Medium blog for free</h3>
        <p>Learn about your mistakes so that you can avoid them next time.</p>
      </div>
    </div>

  </div>

  <div class='container'>
    <div class="row">

      <div class="col-xs-3 col-sm-2 col-lg-1 ">
        <i class="icon icon-calendar"></i>
      </div>
      <div class="col-xs-7 col-sm-4 col-md-4">
        <h3>250 points of grammar</h3>
        <p>Grammarly scans your text for proper use of more than 250 advanced grammar rules, spanning everything from subject-verb agreement to article use to modifier placement.</p>
      </div>

      <div class="col-xs-3 col-sm-2 col-lg-1 col-lg-offset-1">
        <i class="icon icon-diamond"></i>
      </div>
      <div class="col-xs-7 col-sm-4 col-md-4">
        <h3>Vocabulary enhancement</h3>
        <p>Words can make an impact, or they can fall flat. Enhance your sentences with Grammarly’s context-optimized word choice suggestions to instantly improve the readability of your document.</p>
      </div>

    </div>

    <div class='row'>

      <div class="col-xs-3 col-sm-2 col-lg-1 ">
        <i class="icon icon-eye"></i>
      </div>
      <div class="col-xs-7 col-sm-4 col-md-4">
        <h3 class="mb-15">Contextual spelling checker</h3>
        <p>Correctly spelled words used in the wrong context mean embarrassing mistakes for you. Grammarly spots erroneous use of commonly confused words.</p>
      </div>

      <div class="col-xs-3 col-sm-2 col-lg-1 col-lg-offset-1">
        <i class="icon icon-user"></i>

      </div>
      <div class="col-xs-7 col-sm-4 col-md-4">
        <h3>Built by the leading linguists</h3>
        <p>Grammarly’s powerful algorithms are developed by the world’s leading authorities on linguistic technology. </p>
      </div>

    </div>
  </div>

</section>
