<section>

  <div class="container">

    <div class='row'>
      <div class="col-xs-12 col-sm-offset-1 col-sm-5 text-center">
        <h2 class="heading"><b>What is Grandma?</b></h2>
      </div>
      <div class="col-sm-6 text-center">
        <h3>Check your Medium blog</h3>
        <p>Learn about possible mistakes so that you can avoid them next time.</p>
      </div>
    </div>

  </div>

  <div class='container'>
    <div class="row">

      <div class="col-xs-3 col-sm-2 col-lg-1 ">
        <i class="icon icon-calendar"></i>
      </div>
      <div class="col-xs-7 col-sm-4">
        <h3>250 points of grammar</h3>
        <p>Grammarly scans your text for proper use of more than 250 advanced grammar rules, spanning everything from subject-verb agreement to article use to modifier placement.</p>
      </div>

      <div class="col-xs-3 col-sm-2 col-lg-1 col-lg-offset-1">
        <i class="icon icon-diamond"></i>
      </div>
      <div class="col-xs-7 col-sm-4">
        <h3>Vocabulary enhancement</h3>
        <p>Words can make an impact, or they can fall flat. Enhance your sentences with Grammarly’s context-optimized word choice suggestions to instantly improve the readability of your document.</p>
      </div>

    </div>

    <div class='row'>

      <div class="col-xs-3 col-sm-2 col-lg-1 ">
        <i class="icon icon-eye"></i>
      </div>
      <div class="col-xs-7 col-sm-4 col-md-4">
        <h3 class="mb-15">Contextual spelling checker</h3>
        <p>Correctly spelled words used in the wrong context mean embarrassing mistakes for you. Grammarly spots erroneous use of commonly confused words.</p>
      </div>

      <div class="col-xs-3 col-sm-2 col-lg-1 col-lg-offset-1">
        <i class="icon icon-user"></i>

      </div>
      <div class="col-xs-7 col-sm-4">
        <h3>Built by the leading linguists</h3>
        <p>Grammarly’s powerful algorithms are developed by the world’s leading authorities on linguistic technology. </p>
      </div>

    </div>


    <hr>

    <div id="bottom-form">
      <div class="row" ng-hide="showInput" ng-init="showInput=false">
        <div class="col-xs-12 col-sm-6 col-sm-offset-1 text-center">
          <h5>Grandma can check your blog for free!</h5>
        </div>

        <div class="col-xs-12 col-sm-4   text-center">

          <button class="btn btn-success" ng-click="showInput=true" >Check my Blog!</button>
        </div>
      </div>


      <div class="row" ng-show="showInput && !formSubmitted.b" >
        <form class="css-form" name="checkForm" novalidate ng-submit = "checkBlog()" >

          <div class="col-xs-12 col-sm-6 col-sm-offset-1 text-center">
            <input  class="form-control inputUrl"
                    type="url"
                    ng-pattern = "/medium.com\/@\S{1,30}$/i"
                    ng-model="blogUrl"
                    medium >
          </div>

          <div class="col-xs-12 col-sm-4 text-center">
            <button  type="submit" class="btn btn-success" ng-disabled="checkForm.$invalid">Submit</button>
          </div>

        </form>
      </div>


      <div class="row">

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center" ng-show="formSubmitted.b">
          <h5 ng-bind-html="blogSubmitted.message | rawHtml"></h5>
        </div>

      </div>
    </div>

    <hr>

  </div>

</section>
