<div class="level level-hero hero-home has-hint active-state">

  <div class="hero-overlay"></div>

  <video loaded-data loop id="bg-video" class="fullscreen-video">
    <source src="videos/laptop.webm" type="video/webm">
    <source src="videos/laptop.mp4" type="video/mp4">
  </video>

  <div class="container full-height">
    <div class='v-align-parent'>
      <div class='v-center'>
        <div class="row">
          <div class="col-xs-10 col-sm-6">
            <h1 class="mb-10 heading">Blog Grammar <span>Analyzer</span></h1>
            <div class="subheading mb-20"></div>
          </div>
        </div>
        <div>
          <a class="btn btn-prepend btn-launch-video">
            <i class="prepended icon-append-check"></i>See Leaderboards
          </a>
        </div>
      </div>
    </div>

    <div class='hint-arrow'></div>
  </div>
</div>