<nav scroll class="navbar navbar-default navbar-fixed-top animate-show" ng-show = "showNav">
  <div class="container">
    <div class="navbar-header">
      <img class="navbar-brand img-responsive" src="https://cdn0.iconfinder.com/data/icons/simple-seo-and-internet-icons/512/keyword_research-512.png">
      <a class="navbar-brand" ui-sref="app">
        Blog Analyzer
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" dropdown is-open="status.isopen">
        <a role="button" class="dropdown-toggle" dropdown-toggle>
          My profile <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="user">
          <li role="menuitem"><a ui-sref = "app.user.blogs">My blogs</a></li>
          <li role="menuitem"><a ui-sref = "app.user.account">My account</a></li>
          <li role="menuitem"><a ui-sref = "app.user.settings">Settings</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>