<!DOCTYPE html>
<html>
<head>
 

  <meta charset="utf-8">
  <meta property="og:url"           content="http://www.grandma.space" />
  <meta name="description" content="Check how well does your grammar compare to other top bloggers">
  <meta property="og:image" content="https://pbs.twimg.com/profile_images/654360947457323008/jDnkyvfA_400x400.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Grandma - blog grammar checker </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%# stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700'%>

  <%# javascript_include_tag :modernizr %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body ng-app = "grandma">

<%= yield %>


</body>
</html>
